PORT=5000
MONGODB_URI=mongodb+srv://saibalkawade10_db_user:aYmkG8U4zIJnWkZU@cluster0.wrnsfhk.mongodb.net/stockmanager?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=hackathon_secret_key_2024_stockmanager